logs
target
.idea/*
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/target
/project/project
/project/target/
/project/project/
**/*.iws
**/*.ipr
**/*.iml
**/*.log
**/*.jtl
/bin/
**/*.env
**/*.jks
**/*.csr
**/*.crt
**/*.key
**/*.p12
**/password
/conf/base/build.conf
.DS_Store
.g8/
.gitignore
.idea/
project/project/
project/target/
target/
RELEASENOTES.md
